<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @vehicle_location.location_id %>
</p>

<p>
  <strong>Located at:</strong>
  <%= @vehicle_location.located_at %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @vehicle_location.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @vehicle_location.longitude %>
</p>

<p>
  <strong>Bearing:</strong>
  <%= @vehicle_location.bearing %>
</p>

<p>
  <strong>Engine hours:</strong>
  <%= @vehicle_location.engine_hours %>
</p>

<p>
  <strong>Driver:</strong>
  <%= @vehicle_location.driver_id %>
</p>

<p>
  <strong>Fuel:</strong>
  <%= @vehicle_location.fuel %>
</p>

<p>
  <strong>Odometer:</strong>
  <%= @vehicle_location.odometer %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @vehicle_location.speed %>
</p>

<p>
  <strong>Location description:</strong>
  <%= @vehicle_location.location_description %>
</p>

<p>
  <strong>Movement type:</strong>
  <%= @vehicle_location.movement_type %>
</p>

<p>
  <strong>Driver first name:</strong>
  <%= @vehicle_location.driver_first_name %>
</p>

<p>
  <strong>Driver last name:</strong>
  <%= @vehicle_location.driver_last_name %>
</p>

<p>
  <strong>Driver username:</strong>
  <%= @vehicle_location.driver_username %>
</p>

<p>
  <strong>Driver company:</strong>
  <%= @vehicle_location.driver_company_id %>
</p>

<p>
  <strong>Driver status:</strong>
  <%= @vehicle_location.driver_status %>
</p>

<p>
  <strong>Driver role:</strong>
  <%= @vehicle_location.driver_role %>
</p>

<p>
  <strong>Edl:</strong>
  <%= @vehicle_location.edl_id %>
</p>

<p>
  <strong>Edl identifier:</strong>
  <%= @vehicle_location.edl_identifier %>
</p>

<p>
  <strong>Edl model:</strong>
  <%= @vehicle_location.edl_model %>
</p>

<p>
  <strong>Date:</strong>
  <%= @vehicle_location.date %>
</p>

<p>
  <strong>Driver profile:</strong>
  <%= @vehicle_location.driver_profile_id %>
</p>

<%= link_to 'Edit', edit_vehicle_location_path(@vehicle_location) %> |
<%= link_to 'Back', vehicle_locations_path %>
