<!DOCTYPE html>
<html>
  <head>
    <title>FrontEnd</title>
    <%= csrf_meta_tags %>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
       

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'css/app.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> 

  </head>

<body data-sa-theme="1">
    <%= yield %>


        <!-- Charts and maps-->


  </body>
</html>
